.Table {
  font-family: SF Pro Text;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 16px;
  line-height: 25px;
}

.Table > thead > tr > th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  font-weight: normal;
  color: #949494;

  height: 45px;
}

.Table > thead > tr > th:last-child {
  text-align: right;
}

.Table > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-top: 10px;
  padding-bottom: 5px;
}

.Table > tbody > tr > td:last-child {
  text-align: right;
}
